data/mnist/
_minted-pytorch-introduction/
pytorch-introduction.aux
pytorch-introduction.log
pytorch-introduction.nav
pytorch-introduction.out
pytorch-introduction.pdf
pytorch-introduction.pyg
pytorch-introduction.snm
pytorch-introduction.toc
notebooks/.ipynb_checkpoints/
figures/autograd.svg
figures/compile-images.sh
figures/convolution.svg
figures/dldz.pdf
figures/dldz.tex
figures/dzdx.pdf
figures/dzdx.tex
figures/dzdy.pdf
figures/dzdy.tex
figures/neuron.svg
figures/lab.svg
result
__pycache__/
